/* roboto-300 - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v50-greek_latin-300.woff2') format('woff2');
}

/* roboto-300italic - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-v50-greek_latin-300italic.woff2') format('woff2');
}

/* roboto-regular - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-greek_latin-regular.woff2') format('woff2');
}

/* roboto-italic - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v50-greek_latin-italic.woff2') format('woff2');
}

/* roboto-500 - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v50-greek_latin-500.woff2') format('woff2');
}

/* roboto-500italic - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto-v50-greek_latin-500italic.woff2') format('woff2');
}

/* roboto-700 - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-greek_latin-700.woff2') format('woff2');
}

/* roboto-700italic - greek_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v50-greek_latin-700italic.woff2') format('woff2');
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* Εδώ έχω βάλει το όνομα του αρχείου που κατέβασες */
  src: url('../fonts/material-icons-v145-latin-regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* --- Γενικά Στυλ --- */

/* Αφαιρεί την υπογράμμιση από όλα τα links που έχουν κλάση .btn ή .text-decoration-none */
a.btn, 
.text-decoration-none {
    text-decoration: none !important;
}

/* Αφαιρεί την υπογράμμιση και όταν περνάει το ποντίκι από πάνω (hover) */
a.btn:hover, 
.text-decoration-none:hover {
    text-decoration: none !important;
}
